section.section
  .container
    .row
      .col
        h4 Дополнительно
    .row
      -for(var i= 0; i < 3; i++)
        .col-sm-12.col-md-6.col-lg-4
          .addition-item
            img.img-fluid.addition-item__image(src=img+"addition-image.png", alt="")
            .addition-item__text-wrapper
              p.addition-item__title Технические характеристики
              p
                a.addition-item__download-link(href="#")
                  img(src=img+"icons/download.svg", alt="")
                  | PDF (10Mb)
              p
                a.addition-item__download-link(href="#")
                  img(src=img+"icons/download.svg", alt="")
                  | DOC (15Mb)
              

