footer.footer           
    .container
        .row
            .col-lg-4.col-md-6.col-sm-6
                .row
                    .col-12
                        .footer__logo
                            include logo
                    .col-12
                        .footer__contacts
                            p Самара, Московское шоссе, 154, корпус 1
                            p
                                a.footer__contact(href="tel:+7-846-456-51-54") 
                                    |+7-846-456-51-54
                                |,
                                a.footer__contact(href="tel:+7-927-135-46-12") 
                                    |+7-927-135-46-12
                            p
                                a.footer__contact(href="mailto:info@akvil.ru") info@akvil.ru
                            //- a.footer__nav-link(href="https://admix.pro") ADMiX Digital Agency
            .col-lg-2.col-md-6.col-sm-6
                .footer__nav.footer__nav_main-menu
                    ul
                        -var menu = ['Главная', 'Новости', 'Статьи', 'Контакты']
                        li.footer__nav-item
                            a.footer__nav-link.active(href='#')= menu[0]
                        -for(var i= 1; i < menu.length; i++)
                            li.footer__nav-item
                                a.footer__nav-link(href='#')= menu[i]
            .col-lg-3.col-md-6.col-sm-6.footer__divider
                .footer__nav
                     ul
                        -var menu = ['Робототехника', 'Стенды', 'Акустика', 'ИИ', 'Автоматизация систем', 'Платформа Стюарта']
                        li.footer__nav-item
                            a(href="#").footer__title.footer__nav-link Готовые решения
                        li.footer__nav-item
                            a.footer__nav-link(href='#')= menu[0]
                        -for(var i= 1; i < menu.length; i++)
                            li.footer__nav-item
                                a.footer__nav-link(href='#')= menu[i]
            .col-lg-3.col-md-6.col-sm-6.footer__divider
                .footer__nav
                    ul
                        -var menu = ['Лазерные измерения', 'Акустика', 'Материаловедение', 'Горение']
                        li.footer__nav-item
                            a(href="#").footer__title.footer__nav-link Исследования
                        li.footer__nav-item
                            a.footer__nav-link(href='#')= menu[0]
                        -for(var i= 1; i < menu.length; i++)
                            li.footer__nav-item
                                a.footer__nav-link(href='#')= menu[i]

        //- .row
        //-     .offset-sm-5.col-sm-7.col-12.text-center.text-sm-left
        //-         a.footer__nav-link(href="https://admix.pro") ADMiX Digital Agency

