-const img='img/'
-const phone='+7 (846) 205-65-51'
-const email='alians_info@mail.ru'
head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap&subset=cyrillic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    title Страница | Инженерный центр «АКВИЛ»