.section.header-edition-2(style='background: linear-gradient(0deg, rgba(129, 109, 255, 0.77), rgba(129, 109, 255, 0.77)), url("../../img/header-2.png") no-repeat;background-size:cover;')
        .container
          .row
            .col-md-12
                .header-content          
                  include breadcrumbs
                  h1.header-edition-2__title Заголовок страницы