.section.header-edition-1
  .container
    .row
      .col-md-12.col-lg-8
        .header-content          
          include breadcrumbs
          article
            h1.header-edition-1__title Mattis eu amet pellentesque justo arcu suspendisse mauris
            p.header-edition-1__description Magna nibh sed turpis aliquet porttitor sed odio. In elit nunc, leo neque morbi vivamus. Nec at eu, ut nulla bibendum. Proin euismod ut volutpat arcu mollis sed dignissim.
          a(href="#").btn Задать вопрос
      .col-md-12.text-center.col-lg-4.header-edition-1__image-block
        img.img-fluid(src=img+"robot.png", alt="")