.logo
    .logo__icon
        img.img-fluid(src=img+"icons/triangle.svg", width="20" alt="")
    a.logo__link(href="#")
        |АКВИЛ
    p.logo__text
        |ИНЖЕНЕРНЫЙ ЦЕНТР
        br
        |САМАРСКИЙ УНИВЕРСИТЕТ
