.row
    -for(var i= 0; i < 3; i++)
      .col-sm-6.col-md-6.col-lg-4
          .material-card
            .material-card__image
              a(href="#")
                img.img-fluid(src=img+"material-card-image.png", alt="")
            .material-card__content
              //- a.material-card__breadcrumbs(href="#")
              include breadcrumbs
              a(href="#").material-card__title
                  |Ultrices feugiat quam adipiscing
              .material-card__preview-text
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus congue sodales semper magna vitae suspendisse nec penatibus. Egestas maecenas eget nam commodo molestie...
              a(href="#").material-card__read-more
                  |Читать дальше...
