nav.navbar.navbar-expand-lg.fixed-top
    .container
        include logo
        a.nav-link.navbar-nav__link.phone.navbar__phone(href="tel:+7(846)205-65-51")
            |+7 (846) 
            span(style="font-size:1.5em;") 205-65-51
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        .collapse.navbar-collapse#navbarText
            -var menu = ['О нас', 'Новости', 'Статьи', 'Контакты']
                ul.navbar-nav.ml-auto
                    li.nav-item.navbar-nav__item.dropdown
                        a.nav-link.navbar-nav__link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            | Что мы делаем
                        .dropdown-menu.dropdown-menu-custom(aria-labelledby="navbarDropdown")
                            .container
                                .row
                                    .col-lg-6
                                        .dropdown-menu-custom__submenu
                                            a(href="/solutions.html").dropdown-menu-custom__title.dropdown-menu-custom__link Готовые решения
                                            ul
                                                li.dropdown-menu-custom__item
                                                    a.dropdown-menu-custom__link(href="#") Робототехника
                                                li.dropdown-menu-custom__item
                                                    a.dropdown-menu-custom__link(href="#") Автоматизация систем
                                    .col-lg-6
                                        .dropdown-menu-custom__submenu
                                            a(href="#").dropdown-menu-custom__title.dropdown-menu-custom__link Исследования
                                            ul
                                                li.dropdown-menu-custom__item
                                                    a.dropdown-menu-custom__link(href="#") Лазерные измерения
                                                li.dropdown-menu-custom__item
                                                    a.dropdown-menu-custom__link(href="#") Акустика
                                                li.dropdown-menu-custom__item
                                                    a.dropdown-menu-custom__link(href="#") Материаловедение                                                

                            //- ul
                            //-     li Готовые решения
                            //- ul
                            //-     li Исследования                          
                            //- a.dropdown-item.navbar-nav__link(href="#") ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ГАЗОАНАЛИЗАТОРОВ
                            //- a.dropdown-item.navbar-nav__link(href="#") ДИНАМИЧЕСКИЕ МОДЕЛИ ТРЕНАЖЕРОВ АСУ ТП
                            //- a.dropdown-item.navbar-nav__link(href="#") СИСТЕМЫ УСОВЕРШЕНСТВОВАННОГО УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ (СУУТП)
                    -for(var i= 0; i < menu.length; i++)
                        li.nav-item.navbar-nav__item
                            a.nav-link.navbar-nav__link(href='#')= menu[i]
                    li.nav-item.navbar-nav__item
                        a.nav-link.navbar-nav__link(href="#")
                            img.navbar-nav__icon(src=img+"icons/globe.svg",width="20" alt="")
                    li.nav-item.navbar-nav__item
                        a.nav-link.navbar-nav__link(href="#")
                            img.navbar-nav__icon(src=img+"icons/search.svg",width="20" alt="")