doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-2
    main
      .container
        -for(var i= 0; i < 2; i++)
          .section        
            .row
              .col-12   
                .row.material-card-full               
                  .col-md-6.order-last.order-md-first
                    p 24 августа 2019
                    a.material-card-full__title(href="#") 
                      | Гори, гори, моя звезда
                    p.material-card-full__preview-text Id mauris tincidunt potenti sed vestibulum, lacinia ac. Lorem felis a blandit purus et cursus arcu odio viverra. Turpis ac, eu facilisis quis gravida venenatis. Massa gravida blandit mauris nec. Risus non ullamcorper risus sit blandit phasellus congue aliquet sit. In nulla velit in facilisis nulla id sit rhoncus sed.
                    a(href="#").material-card-full__read-more Читать дальше...
                  .col-md-6.order-first.order-md-last
                    a(href="#")                   
                      img.img-fluid(src=img+"first-article.png", alt="")
                hr
            include includes/material-card-section
            hr
    include includes/footer
    include includes/bottom-scripts
