doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-1
    main
      .container.section
        .row
          .col
              p Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.
              p Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.
                br
                |Ligula est, id ac leo, blandit duis quisque. Dui lobortis vel lacus urna dictum cursus sem. Ipsum in sit pellentesque quis ac neque. Adipiscing rutrum imperdiet felis, egestas. Arcu, aliquam arcu mattis scelerisque tempus. Arcu, tempus fusce auctor nam sit ac sed proin hendrerit.
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.              
      section.section
        .container
          .row
            .col
              h4 Другие статьи
          include includes/material-card-section
     
    include includes/footer
    include includes/bottom-scripts
