doctype html
html(lang="ru")
  include includes/head
  body
    header
      //- include includes/first-section
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-1
    main     
      .container.section
        .row
          .col
            p Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.
      section.section
        .container
          .row
            .col
              h4 Технические характеристики
          .row
            .col
              table.table
                tbody
                  tr
                    td Lipsum dolor sit amet, consectetur 
                    td.value 560 mm
                  tr
                    td параметр на русском языке
                    td.value 1-35
      include includes/addition-section
      .section
        .container
          .row
            .col
              a(href="#").btn Задать вопрос
    section.section
      .container
        .row
          .col
            h4 Схожие решения
        include includes/material-card-section
    section.section
      .container
        .row
          .col
            h4 Схожие исследования
        include includes/material-card-section
    include includes/footer
    include includes/bottom-scripts
