doctype html
html(lang="ru")
  include includes/head
  body
    header
      //- include includes/first-section
      include includes/navbar
      .after-fixed-navbar
    main     
      .container.section
        .row
          .col
            p Временное меню:
            ul
              li
                a(href="/goods.html") Страница Товар (Исследование)
              li
                a(href="/solutions.html") Страница Готовые решение/Исследования
              li
                a(href="/test-stands.html") Страница Испытательные стенды
              li
                a(href="/article.html") Страница Статья (Новость)
              li
                a(href="/articles.html") Новости/Статьи   


    include includes/footer
    include includes/bottom-scripts
