doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-2
    main
      .container.section
        .row
          .col
            p Pellentesque placerat consequat tristique interdum aliquet. Hendrerit eu duis urna eu. Pellentesque tortor ac urna massa ultrices ipsum, commodo quis. Bibendum ullamcorper sit ullamcorper donec elementum. Vulputate mi vitae orci lectus enim ullamcorper venenatis. Ornare lectus felis, orci, gravida. Sed ornare nulla quisque at elit, sed. Leo urna sapien in nunc cursus amet volutpat. Cursus libero habitasse sollicitudin massa venenatis aliquet nec faucibus. Non sit nam ut mi, sodales senectus dolor lorem amet. Malesuada varius a in hac augue at cursus. Ipsum leo, habitant posuere sed sed vitae. Viverra aliquam senectus ut at id nunc lectus id dignissim. Vulputate amet cras ac vitae. Mauris pretium duis eget risus et massa dolor. Amet lobortis ipsum etiam eget. Lorem integer scelerisque scelerisque sed tortor. Magna aenean tortor aliquam ultrices sit viverra sed. Pretium, vivamus sociis in consequat. In sit nullam at nunc nam arcu. Amet a eget amet, volutpat bibendum.
      .container.section
        .row
          -for(var i= 0; i < 5; i++)
            .col-lg-6.col-md-6
              .solution-card
                a(href="#")
                  .solution-card__image          
                    img.img-fluid(src=img+"solution-card.png", alt="")
                    .solution-card__title Стенды для космической промышленности
                .solution-card__description Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.
    include includes/footer
    include includes/bottom-scripts
