doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-2
    main
      .container.section
        .row
          .col
            p Pellentesque placerat consequat tristique interdum aliquet. Hendrerit eu duis urna eu. Pellentesque tortor ac urna massa ultrices ipsum, commodo quis. Bibendum ullamcorper sit ullamcorper donec elementum. Vulputate mi vitae orci lectus enim ullamcorper venenatis. Ornare lectus felis, orci, gravida. Sed ornare nulla quisque at elit, sed. Leo urna sapien in nunc cursus amet volutpat. Cursus libero habitasse sollicitudin massa venenatis aliquet nec faucibus. Non sit nam ut mi, sodales senectus dolor lorem amet. Malesuada varius a in hac augue at cursus. Ipsum leo, habitant posuere sed sed vitae. Viverra aliquam senectus ut at id nunc lectus id dignissim. Vulputate amet cras ac vitae. Mauris pretium duis eget risus et massa dolor. Amet lobortis ipsum etiam eget. Lorem integer scelerisque scelerisque sed tortor. Magna aenean tortor aliquam ultrices sit viverra sed. Pretium, vivamus sociis in consequat. In sit nullam at nunc nam arcu. Amet a eget amet, volutpat bibendum.
      .container
        -for(var i= 0; i < 2; i++)
          section.section        
            .row
              .col-12             
                h3.stand-section-title Стенды для космической промышленности
            -for(var j= 0; j < 4; j++)
              a(href="#")      
                article.stand-preview
                  .row               
                    .col-lg-4.col-md-4
                      .stand-preview__image
                        img.img-fluid(src=img+"stand.png", alt="")
                    .col-lg-8.col-md-8
                      .row
                        .col-12
                          h4.stand-preview__title Стенд для испытания пневматических рессор грузовой техники
                      .row
                        .col-lg-9.col-md-9 
                          p.stand-preview__text Facilisi et in at in tortor dictum in.  Facilisi et in at in tortor dictum in. Facilisi et in at in tortor dictum in. Facilisi et in at in tortor dictum in. Facilisi et in at in tortor dictum in. Facilisi et in at in tortor dictum in. Facilisi et in at in tortor dictum in.
                        .col-lg-3.col-md-12.text-center.text-md-left
                          div.stand-preview__button
                           |Подробнее
                           img.img-fluid(src=img+"icons/chevron-right.svg", alt="")
     
    include includes/footer
    include includes/bottom-scripts
