//Colors
$accent-color: #3B5CA9;
$second-color:#6B6B6B;
$colors:(
    'body-bg':#fff,
    'footer-bg':$second-color,
    'foreground':#F0F0F0,
    'headline': $accent-color,
    'text': $second-color,
    'text_light':#fff,
    'btn':$accent-color,
    'btn__text':#FFFFFF,
    'btn_hover': #fff,
    'btn_hover_text':$accent-color,
    'link:':#000,
    'link_hover': blue,    
);

@function color($object){
    @return map-get($colors, $object);
}

//Media width Bootstrap
$media-xs:576px;
$media-sm:768px;
$media-md:992px;
$media-lg:1200px;

//Sizes
$navbar-font-size:0.9rem;

$margin-bottom-section:50px;
$margin-bottom-section__child:30px;

$section-padding: 10px;

$other-line-height:1.5;

$font-weight_accent:300;

$transition-time: 0.5s;
$transition-time_slow: 1s;

$padding-side:15px;