@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }

.page-main-picture-wrapper{
    background: blue;
    // position:relative;
    // &__picture{
    //     position:absolute;
    // }
}

.page-picture{
    width:100%;
    height:250px;
}
