@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }
.addition-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    &__image{
        display: block;
        // width:150px;
        // min-height:200px;
        background:color(foreground);
        margin-right: 10px;
        
    }

    

    &__title{
        color:(text);
        font-size:1.2rem;
        font-weight: 500;
        line-height: 0.9;
    }

    &__download-link{
        display: block;
    }

}