@import 'variables';
@import 'mixins';

$bread-side-padding:0.3em;

.breadcrumb{
    // margin-bottom: 0.2rem;
    background:inherit;
    font-size:0.8rem;
    font-weight:500;
    border-radius: 0;
    padding:0;
    text-transform: uppercase;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: $bread-side-padding;
    color:color(text);
    content: ">";
}

.breadcrumb-item+.breadcrumb-item {
    padding-right:$bread-side-padding;
}

.breadcrumb-item.active {
    padding-left: $bread-side-padding;   
    color: $accent-color;
}

.breadcrumb-item a {
    padding:1em 0;
    color: color(text);
    &:hover{
        color:$accent-color;
        transition: $transition-time color;
    }
}