@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }
$text-color:#fff;
.btn{
   background:$accent-color;
   border-radius:0;
   text-transform: uppercase;
   color:$text-color;
   transition: .5s background-color;
   &:hover{
    color:$text-color;
    background: color(bg_dark);  
   }
}