@import 'variables';
@import 'mixins';

#contact-form-section{
    background: color(text);
    color: #fff;
    padding-top: $section-padding;
    padding-bottom:$section-padding;
}


.form-control{
    &:focus{
        border-color:none;
        box-shadow: none; 
    }
}
.contact-form{
    $form-color:color(text);

    &__link{
        color:color(text_light);
        &:hover{
            color:inherit;
        }
    }
    

    textarea{
        height: 300px;
    }

    textarea, input{
        color: color(text_light);
        background:$form-color;  
        border-radius:0;
        &:focus{
            color: color(text_light);
            background:$form-color;
            border:2px solid color(text_light);
        }
    }

    ::placeholder{
        text-align: center;
    }

    &__button{
        font-weight: bold;
        &:hover{
            color:$form-color;
        }
        @media screen and (max-width:$media-xs){
            margin: 0 auto;
        }
    }

    &__submit-section{
        position: absolute;
        bottom: 0;
        @media screen and (max-width:$media-xs){
            position: unset;
        }
    }
}