@import 'variables';
@import 'mixins';

.first-section{
    background:$accent-color;
    padding-top:15px;
    padding-bottom:15px;

    &__logo{
        position:relative;
        left:0;
        transition: 0.3s left;
        &:hover{
            left:10px;
        }
    }
    &__contacts{
        text-align: right;
        font-weight: bold;
        a{
            color:#fff;
        }
    
    }
}
// @media screen and (max-width:$media-sm){
//    
// }