@import 'variables';
@import 'mixins';

$border-size: 0.625px;
$border-color:#565656;
$link-color:#878787;
$footer-color:#fff;

.footer{
    background: $second-color;
    color:$footer-color;
    font-weight: 300;
    padding: 3rem 0;

    p{
        margin-bottom:1em;
        &:last-child{
            margin-bottom:0;
        }
    }
      
    ul{
        @include clear-list;
    }

    a{
        &:hover{
            color:inherit;
        }
    }

    [class^='col']{
        margin-bottom: 1rem;
    }

    &__divider{
        border-left:1px solid $footer-color;
        @media screen and (max-width:$media-xs){
            border:none;
        }
    }

    &__title{
        text-transform: uppercase;
        font-weight:500;
        font-size:1em;
    }

    &__nav{
        padding: 0 2em;
        @media screen and (max-width:$media-xs){
            padding:0;
        }
        &_main-menu{
            font-weight: 500;
            li{
                margin-bottom:1em;
            }
        }
    }
  
    &__nav-item{
        margin-bottom:0.5em;
        .active{
            // color:$accent-color;
           border-bottom:1px solid $footer-color;
        }
    }
    &__nav-link{
        padding:0.3em;  
        color:$footer-color;
        // transition:1s border-bottom;
        &:hover{
            color:#fff; 
            border-bottom:1px dashed $footer-color;          
        }
    }

    &__contact{
        &:hover{
           border-bottom:1px solid $footer-color;
        }
    }

  


}