@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }

// .content p:last-child{
//     float:left;
// }

$g-margin:1rem;

.gallery{
    float: right;
    shape-outside: inset(0px); 
    margin: 0 10px 10px 0;
    height: 270px;
    width: 320px;
    background:color(foreground);
    // float:right;
    margin: $g-margin 0 $g-margin $g-margin;

    &__item{
        img{
        
        }
    }
}