@import 'variables';
@import 'mixins';


.header-edition-1{
    position:relative;
    background:color(foreground);
    &__title{
        color:color(headline);
        line-height:0.97; 
        font-size:3rem;
        font-weight: 300;
        @media screen and (max-width:$media-sm){
            font-size:2.5rem;
        }
    }

    &__description{
        font-weight: 500;
        margin-bottom:10px!important;
    }   
}

.header-content{
    $content-margin:0.9rem;
    margin-top: $content-margin;
    margin-bottom: $content-margin;
}

.header-edition-2{
    height:200px;
    // background-repeat: no-repeat;
    // background-size:cover;
    &__title{
        color:#fff;
    }
}