@import 'variables';
@import 'mixins';

.list{
    &__item{
        //padding:$padding-tb-border+10px 0;
        border-bottom:1px solid color(text);
        &:last-child{
            border:none;
        }
    }
}