@import 'variables';
@import 'mixins';


$elements-padding:5px;
$logo-margin-left:10px;
.logo{
    font-family: 'Roboto', sans-serif;;
    font-size:$navbar-font-size;
    display:flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items:center;
    @media screen and (max-width:$media-sm){
        margin-left:15px;
        float:left;
    }
    &__link{
        // padding:$elements-padding;
        color:$accent-color;
        font-weight:bold;
        font-size:2em;
        margin:0 0 0 $logo-margin-left;
    }
    &__text{
        margin:0 0 0 $logo-margin-left;
        line-height:1.2;
        // padding:$elements-padding 0;
        text-transform:uppercase;
        font-size:0.8em;
    }
    &__icon{
        // padding:$elements-padding 0;
    }
}