@import 'variables';
@import 'mixins';

/*Debug*/
.o{
    outline:1px solid green;
}

/*
Project is styled using Bootstrap
Requires Bootstrap v4.3.1 (https://getbootstrap.com/)
*/
html,body{
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
    line-height:1.5;
    color:color(text);
    background:color(body-bg);
    
    @media screen and (max-width:$media-sm){
        font-size:14px;
    }
}



.section{        
    margin-bottom:$margin-bottom-section;
    &__child{
        margin-bottom:$margin-bottom-section__child;
    }

    &__header{
        font-size:2rem;
        color:color(headline);
        margin-bottom:0.5em;
    }

    &_bg-light{
        background: color(bg_light);
    }
}

.text-header{
    color:$accent-color;
    text-transform: uppercase;
    font-size:1.2rem;
    line-height: 23px;
}

.link-header{
    @extend .text-header;
    margin-bottom: 0.5em;
    display: inline-block;
    &:hover{
        text-decoration: underline;        
        color:$accent-color;
    }
}



.home-section{
    margin-bottom:100px;
}

.info-section{
    border:0.625px solid #A1A1A1;
    padding: $padding-side;
}

.about-section{
    background:#fff;
}
.partners-section{
    background:#F3F3F3;
}