@import 'variables';
@import 'mixins';
@import 'material-card';

// @media screen and (max-width:$media-sm){
//    
// }
.line-bottom{
    border-bottom: 1px solid color(foreground);
}

.material-card-full{
    margin-bottom:30px;
    &:hover{
        .material-card-full__title{
            color:$accent-color;
        }
        .material-card-full__read-more{
            color:$accent-color;
        }

        .material-card-full__preview-text{
            left:1%;
        }

        img{
            filter: brightness(85%);
        }
    }

    &__title{
        @extend .material-card__title;
    }

    &__preview-text{
        @extend .material-card__preview-text;
        position:relative;
        left:0;
        transition: $transition-time left;
    }

    &__read-more{
        @extend .material-card__read-more;
    }

    img{
        transition:$transition-time filter;
        width:100%;
    }


}