@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }
.material-card{
    margin-bottom:30px;
    background: color(foreground);
    transition:$transition-time background-color,
    $transition-time box-shadow;
   
    &:hover{
        background:#e4e4e4;
        // box-shadow: 0px 0px 4px 4px rgba(132, 132, 132, 0.5);
        .material-card__title{
            color:$accent-color;
        }
        .material-card__read-more{
            color:$accent-color;
        }

        img{
            filter:brightness(85%);
        }
    }

    img{
        // width:auto;
        transition:$transition-time filter;
        @media screen and (max-width:$media-sm){
            width:100%;
        }
    }
    &__content{

        padding:1rem;
        *{
            margin-bottom:.5rem;
        }
    }

    &__preview-text{
        font-weight:300;
    }

    &__title{
        font-size:1.5rem;
        font-weight:500;
        line-height:1;
        display:inline-block;

    }
}