@import "_variables.scss";
@import "_mixins.scss";

$link-color:$accent-color;
$padding-tb-navlink:10px;
$navbar-height:80px;

/*First block after navbar requires top indent to show itself. Top indent = Navbar height*/
.after-fixed-navbar{
    padding-top:$navbar-height;
    @media screen and (max-width:$media-lg) and(min-width:500px) {
        padding-top:$navbar-height/2;
    }
}


.navbar{        
    background:color(body-bg);
    font-size:$navbar-font-size;
    padding:0;
    @media screen and (min-width:$media-lg){
        height:$navbar-height;
    }
    @media screen and (min-width:$media-sm) and (max-width:$media-md){
        font-size:0.75rem;
    }

    &__phone{
        font-weight:500;
        margin-left: 50px;
        @media screen and (min-width:$media-md) and (max-width:$media-lg){
            margin-left: 0px;
            font-size:0.7em;
        }
        @media screen and (max-width:$media-sm){
            margin: 0 auto;
        }
    }
}

// .navbar-collapse{
//     flex-grow:0;
// }

// .navbar-expand-md .navbar-nav .nav-link {
//     padding-top:$padding-tb-navlink;
//     padding-bottom:$padding-tb-navlink;
// }

.navbar-nav{
    font-weight:500;
    background: color(body-bg);

    &__item{           
        @media screen and (max-width:$media-md){
          margin: 0 auto;
        }
        .active {
            background:#191919;
            @media screen and (max-width:$media-sm){
                background:none;
                &:before{
                    content: "– ";
                }
                &:after{
                    content: " –";
                }
            }
        }        
    }

    &__link{ 
        color:$link-color;
        &:hover{
            color:$link-color;
        }
        &_animated-underline{
            &:after{
                background-color: $link-color;
                display: block;
                content: "";
                height: 1px;
                width: 0%;
                transition: width .3s ease-in-out;
                @media screen and (max-width:$media-sm){
                    display: none;
                }
            }            
            &:hover:after, &:focus:after{
                width:100%;
            }

           
        }
    }

    .dropdown-menu{
        // background:color(bg_dark);
        border-radius: 0;
        @media screen and (max-width:$media-md){
            text-align: center; 
        }
        
        // color:$link-color;
        ul{
            padding:0;
        }
        li{
            list-style: none;
        }
    }

    .dropdown-menu-custom{
        min-width: 30rem;
        font-size: $navbar-font-size;
        color:color(text);
        font-weight:normal;
        @media screen and (max-width:$media-md){
            min-width: 0;
        }
        .col-lg-6:last-child{
            border-left:1px solid color(foreground);
            @media screen and (max-width:$media-md){
                border-left:none;
            }
        }

        &__submenu{          
            @media screen and (max-width:$media-md){
                margin-bottom:1rem;
            }
        }

        &__item{

            padding-bottom:0.5em;
        }

        &__link{

            padding:0.5em;
            color:$accent-color;
            transition:0.3s color;
            &:hover{
                color:color(text);
            }
        }
        
        &__title{
            display: block;
            font-weight: 500;
            margin-bottom:0.5rem;
            @media screen and (max-width:$media-md){   
                // margin-bottom:0;
            }
            
        }

    }

    .dropdown{
        text-align: center;
    }
}
.navbar-toggler{
    // @media screen and (max-width:320px){
    //     margin: 0 auto;
    // }
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(59, 92, 169, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}