@import 'variables';
@import 'mixins';

$padding-bottom_inner:10px;

.one-col-block{  

    &_xs{
        // padding-bottom: 0;
         @media screen and (max-width:$media-xs){
            padding-bottom: $padding-bottom_inner;
         }
    }
    &_sm{
        // padding-bottom: 0;
        @media screen and (max-width:$media-sm){
            padding-bottom: $padding-bottom_inner;
        }
    }
    &_md{
        // padding-bottom: 0;
        @media screen and (max-width:$media-md){
            padding-bottom: $padding-bottom_inner;
        }
    }
}