@import 'variables';
@import 'mixins';

.project{
    &__photo{
        @media screen and (max-width:$media-sm){
         margin-bottom:$margin-bottom-section__child;
        }
    }
    &__title{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    &__text{
        p{
            margin-bottom:0.3rem;
        }
        &_smaller{
            font-size:0.7rem;
            @media screen and (max-width:$media-sm){
                font-size:1.3rem;
            }
        }
    }
}