@import 'variables';
@import 'mixins';

.services{

    &__item-link{
        border-radius:0;
        color:color(text);
        border-color:color(text);
        margin-right:1em;
        margin-bottom:1em;
        &:hover{
            background:color(text);
        }
        @media screen and (max-width:$media-sm){
            margin-right:0;
        }
    }
   
}