@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    // margin-right:0;
// }

.service{
    &__picture{
        //background-image:url() задаётся в inliine-стиле
        height: 150px;
        background-size:cover;
        background-position: center center;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    &__long-title{
        display: block;
        margin-top:-80px;
     
        text-transform: uppercase;
        color:#fff;
        @media screen and (max-width:$media-sm){
               padding:0 1em;
               margin-top:-115px;
               font-size:1.5rem;
        }
    }
}

.heading{
    color:#323232;
    text-transform: uppercase;
}
