@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }
.solution-card{
    margin-bottom:30px;
    background: color(foreground);
    transition:$transition-time background-color;
   
    &:hover{
        background:#e4e4e4;
        // box-shadow: 0px 0px 4px 4px rgba(132, 132, 132, 0.5);
        // .material-card__title{
        //     color:$accent-color;
        // }
    }

    &__image{
        // margin-bottom:-9rem;
        position:relative
    }

    img{
        filter: brightness(85%);   
        transition:$transition-time filter;
        @media screen and (max-width:$media-sm){
            width:100%;
        }
    }
    &__description{
        font-weight: 300;
        min-height:140px;
        padding:1rem;
    }

    &__title{
        position:absolute;
        z-index: 999;
        left:0;
        bottom:0px;
        text-transform: uppercase;
        font-size:1.5rem;
        font-weight:500;
        line-height:1;
        display:inline-block;
        padding:1rem;
        color:#fff;
        text-shadow:0px 0px 25px #000;
        transition:.5s color;
        // @media screen and (max-width:$media-lg){
        //     bottom:18*2px;
        // }
    }
}