@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }

$btn-top-padding:0.6em;

.stand-section-title{
    text-transform: uppercase;
    font-size:2rem;
    color:$second-color;
}

.stand-preview{
    border-bottom:1px solid $second-color;
    margin-bottom:30px;
    &:hover{
        .stand-preview__title{
            color:$accent-color;
        }
        .stand-preview__image img{
            transform:scale(1.05);
        }
        .stand-preview__text{
            color:$second-color;
        }
        .stand-preview__button{
            background:#dadada;
            // color:$second-color;
        }
    }

    &__image {
        overflow: hidden;
        img{
            transition:.5s transform;
            margin-bottom:30px;
            width:100%;
        }
    }

    &__title{
        color:$second-color;
        text-transform: uppercase;
        font-weight: 500;
        transition:.8s color;
    }

    &__text{
        margin-bottom:10px!important;
    }
    &__button{
        background:color("foreground");
        padding:$btn-top-padding 2em;
        text-transform: uppercase;
        font-size:0.8rem;
        font-weight: 500;
        transition:.5s background-color;
        color:$second-color;

        @media screen and (min-width:$media-md) and (max-width:$media-lg){
            padding:$btn-top-padding 1em;
        }

        @media screen and (max-width:$media-md){
            // padding:$btn-top-padding 1em;
            display: inline-block;
            margin-bottom:30px;
        }
 
    }

    
}
.image-wrapper{
    overflow: hidden;
}

